<h1 class="text-4xl font-bold mb-3">3. What type of heat pump is right for my home?</h1>

<% if user_signed_in? %>

<% if @response %>
  <p>Depending on the size of your property, you will need more or less power to warm it up.</p>

  <p class="font-bold my-2">Recommended heat pump size:</p>
  <p class="text-xl font-bold"><%= heat_pump_size(@response) %></p>

<% else %>
  <div class="max-w-prose my-5">
    <iframe
      data-tally-src="https://tally.so/embed/3y4Z0B?user_email=<%= current_user.email %>&alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1"
      loading="lazy"
      width="100%"
      height="276"
      frameborder="0"
      marginheight="0"
      marginwidth="0"
      title="What are my heat pump options?"
    ></iframe>
    <script>
      var d = document,
        w = "https://tally.so/widgets/embed.js",
        v = function () {
          "undefined" != typeof Tally
            ? Tally.loadEmbeds()
            : d
                .querySelectorAll("iframe[data-tally-src]:not([src])")
                .forEach(function (e) {
                  e.src = e.dataset.tallySrc;
                });
        };
      if ("undefined" != typeof Tally) v();
      else if (d.querySelector('script[src="' + w + '"]') == null) {
        var s = d.createElement("script");
        (s.src = w), (s.onload = v), (s.onerror = v), d.body.appendChild(s);
      }
    </script>
  </div>
<% end %>

<% else %>

  <p class="mb-4">Different types of heat pumps warm your home using heat from different sources, such as the air or ground. For the majority of homes in the UK, air-to-water heat pumps (often simply called air-source heat pumps) may be the best option.</p>

  <p class="mb-4">You can use the quiz below to find out which heat pump is suitable for your home, and how much it might cost to install. </p></p>

  <p class="p-4 bg-yellow-100">Please <%= link_to 'login', new_user_session_path, class: "link" %> or <%= link_to 'register', new_user_registration_path, class: "link" %> to complete this step.</p>

<% end %>

<div class="flex justify-between mt-12">
  <%= link_to "← 2. Why should I get a heat pump?", step2_path, class: "link" %>
  <%= link_to "4. Costs, grants and funding →", step4_path, class: "link" %>
</div>