<!DOCTYPE html>
<html>
  <head>
    <title>AsfGetAtHeatPump</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="container mx-auto px-5 my-5 flex justify-between">
      <%= link_to 'Home', root_path, class: "link" %>
      <div>
        <%- if user_signed_in? %>
          <%= link_to 'My journey', journey_path, class: "link" %>
          &middot;
          <small>(Logged in as <%= current_user.email%>)</small>
          <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete }, class: 'link' %>
        <% else %>
          <%= link_to 'Sign in', new_user_session_path, class: 'link' %>
        <% end %>
      </div>
    </nav>

    <main class="container mx-auto mt-16 px-5">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
    </main>
  </body>
</html>
