<!DOCTYPE html>
<html>
  <head>
    <title>AsfGetAtHeatPump</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <%- if user_signed_in? %>
        &middot;
        <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete }, class: 'link' %>
        (Logged in as <%= current_user.email%>)
      <% else %>
        &middot;
        <%= link_to 'Sign in', new_user_session_path, class: 'link' %>
      <% end %>
    </nav>


    <main class="container mx-auto mt-28 px-5">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
    </main>
  </body>
</html>
